<ion-view view-title="个人设置">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content has-bouncing="false">
    <ion-item class="item-avatar item-icon-right" href="#/tab/user/account">
      <img src="./img/school-1.jpg"></img>
        <span>账号</span>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-avatar item-icon-right" href="#/tab/user/info">
      <img src="./img/school-1.jpg"></img>
        <span>个人信息</span>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <div class="item item-divider"></div>
    <ion-item class="item-avatar item-icon-right" href="#/tab/user/student">
      <img src="./img/school-1.jpg"></img>
        <span>学生</span>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <div class="item item-divider"></div>
    <ion-item class="item-avatar item-icon-right" href="#/tab/user/msguser">
      <img src="./img/school-1.jpg"></img>
        <span>消息</span>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <div class="item item-divider"></div>
    <ion-item class="item-avatar item-icon-right" href="#/tab/user/friends">
      <img src="./img/school-1.jpg"></img>
        <span>好友</span>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-content>
</ion-view>
